@import url(http://fonts.googleapis.com/css?family=Raleway:700,300);
body{
  font-family: 'Raleway', sans-serif;
}
.container{
  display: block;
  margin: 70px auto;
  width: 1000px;
  text-align: center;
}

p.desc {
  font-size: 30px;
}

.fa-spinner{
  -webkit-animation: fa-spin 2s linear infinite;
  font-size: 40px;
}

footer{
  text-align: center;
}

.result {
  padding: 13px;
  margin: 20px;
}

button#submit {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  /* background: radial-gradient(#FF2C8C, #F41469); */
  background: #FF2477;
  color: white;
  border: none;
  border-bottom: 3px solid #EC0059;
  font-size: 27px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  transition: width .2s ease, transform 1s ease;
  z-index: -1;
}

input#poke-input {
  font-family: 'Raleway';
  padding: 10px;
  font-size: 27px;
  width: 317px;
  outline-color: #9522FF;
}

h1.poke-name {
  font-weight: normal;
}

p.stats {
  font-size: 1.15em;
  margin: 10px;
}

.modal-container{
  position: fixed;
  background: radial-gradient(#222, #131313);
  color: white;
  left: 50%;
  padding: 20px;
  border-radius: 10px;
  transform: translate(-50%, -200%);
  width: 70%;
  max-width: 550px;
  height: 300px;
  transition: transform 400ms ease-out;
  text-align: center;
  z-index: 1;
}

.modal:before{
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal:target:before{
  display: block;
}

.modal:target .modal-container{
  transform: translate(-50%, 0);
}

p.text {
  margin-top: 0;
}

p.info {
  font-size: 30px;
  margin-top: 10px;
}

#modal-close {}

a {
  text-decoration: none;
  color: rgb(255, 112, 177);
}

button.classic {
  height: 45px;
  width: 110px;
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #D276FF;
  background-color: #B241FF;
  border: none;
  border-bottom: 3px solid #8821F7;
  transition: transform 400ms ease-out;
  margin-top: 20px;
}

#share-button{
  width: 230px;
}

button#submit:focus {
  transform: none;
}

input.copy {
  padding: 5px;
  width: 90%;
  font: 20px 'Raleway';
}
