@import url(http://fonts.googleapis.com/css?family=Raleway:300);
body{
  font-family: 'Raleway', sans-serif;
}
.container{
  display: block;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

p.desc {
  font-size: 30px;
}

.fa-spinner{
  -webkit-animation: fa-spinner .2s linear infinite;
}

footer{
  text-align: center;
}

.result {
  padding: 13px;
  margin: 20px;
}
